<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049537020338-qormj4ebovik0l0ldtle7t4625ed02dr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049537020338-qormj4ebovik0l0ldtle7t4625ed02dr</string>
	<key>API_KEY</key>
	<string>AIzaSyAj8GFt-WOTnVfc3h83014AWgb5YGg5v28</string>
	<key>GCM_SENDER_ID</key>
	<string>1049537020338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.akkredit</string>
	<key>PROJECT_ID</key>
	<string>akkredit-6f58d</string>
	<key>STORAGE_BUCKET</key>
	<string>akkredit-6f58d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049537020338:ios:2228cb58e912c9564ea4ab</string>
</dict>
</plist>